:root {

    /*/* Tipografia */
    --barlow: "Barlow", sans-serif;
    /* Se elimina fuente secundaria */
    /* --Fuente-secundaria: "Caudex", serif; */

    /* Tamaño */
    /* Se cambian unidades de medida de px a rem y se agregan tamaños faltantes  */
    --titulo-banner: 7rem;
    --encabezados-h1: 5.2rem;
    --encabezados-h2: 4rem;
    --titulos-h3-rutas: 2.4rem;
    --texto-general: 1.8rem;
    --header-footer: 1.6rem;

    /* Cuerpo */
    --bold: 700;
    --medium: 600;
    --regular: 400;

    /* Paleta de colores */
    --color-base: #fff3e3;
    --azul-talavera: #282667;
    --rosa-mexicano: #e1456c;

    /* Colores neutros */
    --negro: #333333;
    --blanco: #ffffff;
    --gris: #f4f5f7;
    --bordes: #e1456c;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    color: var(--negro);
}
body{
    font-size: 16px;
    font-family: var(--barlow);
}
*,*::before,*::after{
    box-sizing: inherit;
}

h1,h2,h3,p{
    margin: 0;
}
h1{
    font-size: var(--encabezados-h1);
    color: var(--rosaMexicano);
}

h2{
    font-size: var(--encabezados-h2);
    color: var(--negro);
    margin: 3rem 0;
}

h3{
    font-size: var(--titulos-h3-rutas);
    color: var(--rosaMexicano);
}
/* img{
    max-width: 100%;
} */